.error-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 60px 20px;
    max-width: 1800px;
    margin: 0 auto;
}

.error-icon-wrapper {
    width: 150px;
    /* Était 250px */
    height: 150px;
    background: #c24132;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 25px;
}

.error-icon-wrapper i {
    font-size: 5rem;
    color: white;
}

.error-oops {
    font-size: 4rem;
    font-weight: 800;
    color: #e74c3c;
    margin: 0;
    letter-spacing: 2px;
}



.error-box {
    background: var(--item);
    border-radius: 16px;
    padding: 30px;
    width: 100%;

}

.error-details-box {
    background: #0a0a0a;
    border-radius: 10px;
    padding: 15px;
    font-family: 'Courier New', monospace;
    font-size: 1.2rem;
    color: white;
    overflow-x: auto;
    min-height: 60px;
}

.btn-error-browse {
    margin-top: 120px;
    padding: 14px 40px;
    background: #c24132;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    font-weight: 600;
}

.btn-error-browse:hover {

    background: #602020c1;
}