:root {
--Background-grey: #27272A;
--Background-grey-2: #212529;
--Background-blue: #0E172Aff;
--naBarv-blue: #1E293B;
--Button-light-green: #15B57Eff;
--Button-light-grey:  rgb(95, 95, 99);

--Button-light-blue: #468FE5ff;
--Button-Wight :#dbd8d8;
--navBar-grey:#2B3135;

--text-white: #F8F9FAff;
--text-blue:#8190A5;
--text-grey: rgb(192, 210, 235);
--text-green:#12B981ff; 


--slate-grey: #6C757Dff;

}
body {
    background-color: var(--Background-blue);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--text-white);
    font-size: 1rem; /* Base: 16px */
    flex-direction: column;
    min-height: 110vh;
    margin-bottom: 180px;
    padding: 0;
    overflow-x: hidden; 
    max-width: 100vw; 
}

header {
    background-color: var(--naBarv-blue);
    align-items: center;
    text-align: center;
    height: 60px;
}



/* Classe global que je reutilse  */
.section {
    padding: 15px;
    background-color: var(--Background-grey);
    border-radius: 8px;
}


.section-title {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-white);
    margin: 0 0 15px 0;
}

.section-title-small {
       font-size: 1rem;
    font-weight: 300;
    color: var(--text-grey);
    margin: 0 ;
}
.text-primary {
    color: var(--text-white);
    font-size: 1rem; 
}

.text-secondary {
    color: var(--text-grey);
    font-size: 0.875rem; 
}



.content-wrapper {
    display: flex;
    gap: 20px;
width: 100%;
max-width: 1400px;
    margin: 20px auto;
    padding: 0 20px;
    flex: 1;
    box-sizing: border-box; 
}

.main-content {
    flex: 2;
}

.sidebar-content {
    flex: 1;
}


/*------------------ Bloc main image------------------*/

.main-item-image {
    width: 100%;
    height: auto;
    border-radius: 8px;
    max-height: 600px; 
    object-fit: contain; 
    display: block;
}

/* Image placeholder - à ajouter ici */
.image-placeholder {
    width: 100%;
    min-height: 400px;
    max-height: 600px;
    background-color: var(--Background-grey);
    border-radius: 8px;
    color: var(--text-grey);
    display: flex;
    align-items: center;
    justify-content: center;

}

/* --------------- Bloc Description et Type de vent -------*/

.item-details-section {
    /* Utilise  .section de base */
}

.item-details-section h2 {
    font-size: 1.5rem; 
    color: var(--text-white);
    margin: 0 0 15px 0;
}

.item-description {
    color: var(--text-grey);
    font-size: 1rem;
    margin: 10px 0;
    line-height: 1.6;
}
.item-dates {
    color: var(--text-grey);
    font-size: 0.875rem;
} 

.button-type-of-sale{
    display: flex;
    gap: 10px;
    margin: 15px 0;
}


.tag {

    padding: 5px 12px;
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: bold;
}

.auction-sale-tag {
    background-color:var(--Button-light-grey);
}

.direct-sale-tag {
    background-color: var(--Button-light-blue);
}

 /* --------------- Images  Additionnels --------------*/
 .additional-images-section {
    background-color: transparent;
    margin-top: 20px;
    padding: 20px;
}

.additional-images-section h3 {
    font-size: 1.25rem;
    font-weight: 600;
    color: var(--text-grey);
    margin: 0 0 15px 0;
}

.thumbnail-gallery {
    display: flex;
    flex-direction: row; 
    gap: 10px; 
    flex-wrap: wrap; 
    align-items: center; 
}

.thumbnail-gallery img {
    width: 150px;
    height: 150px; 
    object-fit: cover; 
    border: 2px solid transparent;
}
.thumbnail.active {
    border: 2px solid var(--Button-light-grey); 
}

.thumbnail {
    cursor: pointer;
    transition: border-color 0.2s;
}


/*--------------------Bloc Pricing -----------------*/

.pricing-section {
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.pricing-title {


  font-size: 0.9rem;
}

.price-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3px 0;
}

.price-label {
    color: var(--text-white);
    font-size: 1rem;
    font-weight: normal;
    margin: 0;
}


.price-value-current-bid {
    font-weight: 600;
    font-size: 1rem;
    margin: 0;
    text-align: right;
    color: var(--text-green);
}

.price-texte-small-grey {
    font-size: 0.875rem;
    font-weight: 300;
    color: var(--text-grey);
    margin: 0;
}
.price-value {
        font-weight: bold;
    margin: 5px 0;
}



.btn-place-bid, .starting-bid, .buy-now-price {
    display: flex;
    flex-direction: column;


}

.btn-buy-now {
    width: 100%;
    padding: 12px;
    background-color: transparent; 
    color: var(--Button-light-blue); 
    border: 2px solid var(--Button-light-blue); 
    border-radius: 4px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;

}

.btn-place-bid:hover {
    background: #2f8c62;
}
.btn-buy-now:hover {
    background: rgba(150, 198, 238, 0.1);
}
.bid-form {
    margin-top: 20px;
}

.bid-input-group {
    display: flex;
    align-items: center;
    margin: 10px 0;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 4px;
    padding: 5px;
}

.currency {
    padding: 0 10px;
    font-weight: bold;
}

.bid-input-group input {
    flex: 1;
    background: transparent;
    border: none;
    color: var(--text-white);
    padding: 10px;
    font-size: 1rem;
}

.btn-place-bid {
    width: 100%;
    padding: 12px;
    background-color: var(--Button-light-green);
    color: var(--text-white);
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

.btn-place-bid:hover {
    background-color:rgba(17, 227, 157, 0.897)
}



/*------------------ Bloc seller info------------------*/
.divider-line {
    height: 1px;
    background-color: rgba(149, 154, 173, 0.3);
  /*  margin: 20px 0;*/
    width: 100%;
    padding: 0;
    display: block;
}
.seller-section {
    margin-top: 16px;
}

.seller-section h3 {
    

}

.seller-info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.seller-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.seller-pic.placeholder {
    background-color: var(--slate-grey)
}

.seller-name {
    margin: 0;
    font-weight: bold;
    color: var(--text-white);
    font-size: 1rem;
}





/* ------------BID HISTORY SECTION ------------- */
.bid-history-section {
    margin-top: 30px;
    background-color: var(--Background-grey-2);
}

.bid-section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}



.bid-count-tag{


    padding: 5px 12px;
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: bold;



    background-color:var(--Button-Wight);
    color: rgb(0, 0, 0);

}

.bid-list {
    display: flex;
    flex-direction: column;
    gap: 0; 
}

.bid-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1); 
}

.bid-row:last-child {
    border-bottom: none;
}

.bid-info {
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.bidder-name {
    font-weight: bold;
    color: var(--text-white);
    font-size: 1rem;
}

.bid-date {
    color: var(--text-grey);
    font-size: 0.875rem;
    font-weight: normal;
}

.bid-amount {
    font-weight: bold;
    color: var(--text-green);
    font-size: 1rem;
}


.disabled-form {
    position: relative;
    opacity: 0.6;
     background-color: rgba(0, 0, 0, 0.1); 
}
/*desable form and button */
.disabled-form::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    pointer-events: none;
    z-index: 1;
}

.btn-place-bid.disabled,
.btn-buy-now.disabled {
    opacity: 0.5;
 pointer-events: none;
    background-color:var(--Button-light-green) ;
}

.btn-place-bid.disabled:hover,
.btn-buy-now.disabled:hover {
    background-color: var(--Button-light-green);
}

.bid-input-group.disabled {
    opacity: 0.5;
    pointer-events: none;
}






/* ------------------Owner Section------------------- */
.owner-section {
    margin-top: 20px;
    padding: 15px;
    background-color: var(--Background-grey);
    border-radius: 8px;
   
}

.owner-section-title {
    font-size: 1rem;
    font-weight: 600;
    color: var(--text-white);
    margin: 0 0 15px 0;
}

.owner-actions {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;
}

.btn-manage-item {
    display: block;
    padding: 10px 5px;
    background-color: transparent;
    border: 1px solid  #27c2fb;
    border-radius: 4px;
    color: #27c2fb;
    text-align: center;
    font-size: 0.9rem;

}

.btn-manage-item:hover {
    background-color:#48c7f52f;
}

.btn-delete-item {
    display: block;
    padding: 10px 15px;
       background-color: transparent;
    border: 1px solid  #dc2626;
    color:  #dc2626;;
    border-radius: 4px;
    text-align: center;

        font-size: 0.9rem;

}

.btn-delete-item:hover {
    background-color: #e15b5b25;
}
.btn-manage-item.disabled,
.btn-delete-item.disabled {
    opacity: 0.7;
    cursor: not-allowed;
    pointer-events: none;
    background-color: #a59d9d38;  
      border: 1px solid  #b7b7b7;
      color: #b7b7b7 ;



/*------------------------Navigation bar--------------------*/
.navBar {
 
    position: fixed;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding: 15px;
}

.navBar-principal {
    bottom: 60px; 
    height: 60px;
    background-color: var(--naBarv-blue);
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}

.navBar-principal a {
    display: flex;
    flex-direction: column;
    align-items: center;
color: var(--text-blue);
    gap: 5px;
    margin: 0 120px; 
    padding: 10px;
    border-radius: 4px;
}

.navBar-principal a:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.navBar-time {
    bottom: 0; 
    height: 50px;
    background-color: var(--navBar-grey);
    justify-content: space-between;
    padding: 10px 20px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}
/*------------------------Time Bar Section--------------------*/
.time-bar {
    background-color: var(--Background-grey);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.time-display {
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--text-white);
    font-size: 0.9rem;
    font-weight: 500;
}


.time-text {
    font-family: Arial, Helvetica, sans-serif
    ;
}

.time-controls {
    display: flex;
    gap: 8px;
    align-items: center;
}

.time-btn {
    background-color: var(--Button-light-blue);
    color: var(--text-white);

}

.time-btn:hover {
    background-color:#17bcefbb;
}

.time-btn-reset {
    background-color: var(--Button-light-green);
}

.time-btn-reset:hover {
    background-color: #6ff678;
}